<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>ResptinLisays</title>
        <meta charset="utf-8" />
    </head>
    
    <body>
        <h2>Lisää uusi resepti</h2>
   
        <form method="POST" action="">
            Smoothien nimi:<br/>
            <select name="smoothie">
              <option th:each="smoothie: ${smoothiet}"
                      th:value="${smoothie.nimi}"
                      th:text="${smoothie.nimi}">  
              </option>
            </select>
            <br/>
            Lisättävä raaka-aine<br/>
            <select name="raakaaine">
                <option th:each="raakaaine: ${raakaAineLista}"
                      th:value="${raakaaine.nimi}"
                      th:text="${raakaaine.nimi}">  
                </option>
                
            </select>
            <br/>
            Järjestys<br/>
            <input type="text" name="jarjestys"/><br/>
            Määrä<br/>
            <input type="text" name="maara"/><br/>
            Ohje<br/>
            <input type="text" name="ohje"/><br/>
            <input type="submit" value="Lisää"/>
        </form>

       <ul>
          <li>
            <a href="..">Smoothielistaukseen</a>
          </li>
          <li>
            <a href="/smoothiereseptit">Smoothie-reseptit</a>
          </li>
          <li>
            <a href="raaka-aineet">Tarkastele ja lisää raaka-aineita</a>
          </li>
           <li>
            <a href="/tilastokyselyt">Annoksissa esiintyvät raaka-aineet</a>
          </li>
        </ul>
    </body>
</html>
