<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineiden käyttö</title>
        <meta charset="utf-8" />
    </head>
    
    <body>
        <h2> Tilastot</h2>
        
        <ul>
        <li th:each="kpl : ${maarat}">
            <span th:text="${kpl}"></span>      
        </li>
         </ul>
        
        <form method="POST" action="">
        <br/>
        Valitse raaka-aine<br/>
        <select name="raakaaine">
            <option th:each="raakaaine: ${raakaAineLista}"
                    th:value="${raakaaine.nimi}"
                    th:text="${raakaaine.nimi}">          
            </option>
        </select>
        <br/>
        <input type="submit" value="Tilasto"/>       
        </form>
        
        
        
        
    </body>
</html>
